<div class="card">
    <div class="card-body">
      <div class="row align-items-center"> 
        <div class="col-6"> 
          <h5 class="card-title">
            {{ '::Menu:products' | abpLocalization }}
          </h5>
        </div>
        <div id="2div" class="col-6 d-flex justify-content-end"> 
          <button  id="create" class="btn btn-primary" type="button" (click)="createProduct()">
            <i class="fa fa-plus me-1"></i>
            <span>{{ '::newproduct' | abpLocalization }}</span>
          </button>
        </div>
      </div>
      <!--<div class="container border p-3">
        <div class="row align-items-center">
          <div class="col-md-1">
            <label> {{ '::creationDate' | abpLocalization }}</label>
          </div>
           <div class="col-md-2">
            <input [(ngModel)] ="queryDto.creationDate" #datepicker="ngbDatepicker" class="form-control" id="creationstart" 
                ngbDatepicker (click)="datepicker.toggle()" placeholder="请输入日期"/> 
          </div> 
          <div class="col-md-4">
            <datepicker-range-popup [(fromdate)]="queryDto.creationDateFrom" [(todate)]="queryDto.creationDateTo" (dateRangeChanged) = onDateRangeChanged($event)></datepicker-range-popup>
          </div>
          <div class="col-md-1">
            <label>{{ '::productname' | abpLocalization }}</label>
          </div>
          <div class="col-md-2">
            <input [(ngModel)] ="queryDto.name"  type="text" class="form-control" placeholder="请输入商户号">
          </div>
          <div class="col-md-1">
            <label>{{ '::productid' | abpLocalization }}</label>
          </div>
          <div class="col-md-2">
            <input [(ngModel)] ="queryDto.id" type="text" class="form-control" placeholder="请输入门店编码">
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-sm mr-2" (click)="Query()">{{ '::find' | abpLocalization }}</button> &nbsp;
            <button class="btn btn-secondary btn-sm" (click)="ResetQuery()">{{ '::reset' | abpLocalization }}</button>
          </div>
          
        </div>
      </div>
         
  </div>-->
    <div class="card-body">
      <ngx-datatable [rows]="Products.items" [count]="Products.totalCount" [list]="list" default>
       
        <ngx-datatable-column [name]="'::name' | abpLocalization" prop="name">    </ngx-datatable-column>
        <ngx-datatable-column [name]="'::description' | abpLocalization" prop="description">    </ngx-datatable-column>
        <ngx-datatable-column [name]="'::price' | abpLocalization" prop="price">    </ngx-datatable-column>
        <ngx-datatable-column [name]="'::cost' | abpLocalization" prop="cost"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::producttype' | abpLocalization" prop="productType.name">    </ngx-datatable-column>
            <!-- <ng-template let-row="row" ngx-datatable-cell-template >
             
             {{ getProductTypeName(row.productTypeId) }}

        </ng-template> -->
      <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="250" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="btn-group mr-4" role="group">
            <button class="btn btn-sm  text-black mr-2" (click)="editProduct(row.id)">
              {{ '::Edit' | abpLocalization }}
            </button>
          
          </div>
            <div ngbDropdown container="body" class="btn btn-sm border-0 bg-transparent ">
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" ngbDropdownToggle>
                    <i class="fa fa-cog me-1"></i>{{ '::moreActions' | abpLocalization }}
                </button>
                <div ngbDropdownMenu>
                    <button  ngbDropdownItem (click)="editProduct(row.id)" >
                        {{ '::edit' | abpLocalization }}
                    </button>
                    <button  ngbDropdownItem (click)="deleteProduct(row.id)">
                        {{ '::delete' | abpLocalization }}
                    </button>
                    <button  ngbDropdownItem (click)="deleteProduct(row.id)" *abpPermission="'ProductManagement.Edit'">
                      {{ '::passwordreset' | abpLocalization }}
                  </button>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  
  <abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
        <h3>{{ (selectedProduct && selectedProduct.id ? '::editproduct' : '::newproduct' ) | abpLocalization }}</h3>
    </ng-template>
  
    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="mt-2">
                <label for="productname">{{ '::productname' | abpLocalization }}</label><span> * </span>
                <input type="text" id="name" class="form-control" formControlName="name" autofocus />
            </div>
  
            <div class="mt-2">
                <label for="storefullname">{{ '::description' | abpLocalization }}</label><span> * </span>
                <input type="text" id="description" class="form-control" formControlName="description" />
            </div>
           
          <div class="mt-2">
            <label for="price">{{ '::price' | abpLocalization }}</label><span> * </span>
            <input type="text" id="price" class="form-control" formControlName="price" />
        </div>
        <div class="mt-2">
          <label for="cost">{{ '::cost' | abpLocalization }}</label><span> * </span>
          <input type="text" id="cost" class="form-control" formControlName="cost" />
        </div>
        <div class="mt-2">
          <label for="storefullname">{{ '::productype' | abpLocalization }}</label><span> * </span>
          <select class="form-control" id="productType" formControlName="productTypeId">
            <option 
            [ngValue]="type.id" *ngFor="let type of this.ProductTypes.items"> 
               {{type.name}}
            </option>            
          
        </select>
        </div>
         
         
        </form>
    </ng-template>
  
    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
            {{ '::Close' | abpLocalization }}
        </button>
  
        <!--added save button-->
        <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
            <i class="fa fa-check mr-1"></i>
            {{ '::Save' | abpLocalization }}
        </button>
    </ng-template>
  
  </abp-modal>
  
  
  
