<div class="card">
    <div class="card-body">
      <div class="row align-items-center"> 
        <div class="col-6"> 
          <h5 class="card-title">
            {{ '::Menu:wholesaleslist' | abpLocalization }}
          </h5>
        </div>
        <div id="2div" class="col-6 d-flex justify-content-end"> 
          <button  id="create" class="btn btn-primary" type="button" (click)="create()">
            <i class="fa fa-plus me-1"></i>
            <span>{{ '::newWholeSales' | abpLocalization }}</span>
          </button>
        </div>
      </div>
      
    <div class="card-body">
      <ngx-datatable [rows]="WholeSales.items" [count]="WholeSales.totalCount" [list]="list" default>
        <!-- <ngx-datatable-column [name]="'::id' | abpLocalization" prop="id"></ngx-datatable-column> -->
        <ngx-datatable-column [name]="'::serial#' | abpLocalization" prop="id">    </ngx-datatable-column>
        <ngx-datatable-column [name]="'::productname' | abpLocalization" prop="sales.product.name"></ngx-datatable-column> 
        <ngx-datatable-column [name]="'::price' | abpLocalization" prop="sales.product.price"></ngx-datatable-column> 
        <ngx-datatable-column [name]="'::discount%' | abpLocalization" prop="sales.discount"></ngx-datatable-column> 
        <ngx-datatable-column [name]="'::salestype' | abpLocalization" prop="sales.salesType.name"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::deliverymethod' | abpLocalization" prop="deliveryMethod"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::deliveryaddress' | abpLocalization" prop="deliveryAddress"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::quanity' | abpLocalization" prop="sales.quantity"></ngx-datatable-column> 
        <ngx-datatable-column [name]="'::totalamount' | abpLocalization" prop="sales.amount"></ngx-datatable-column> 
        <ngx-datatable-column [name]="'::discount' | abpLocalization" prop="sales.discount"></ngx-datatable-column> 
        <ngx-datatable-column [name]="'::paymentmethods'| abpLocalization" prop="sales.paymentMethod.name"></ngx-datatable-column> 
        <ngx-datatable-column [name]="'::member' | abpLocalization" prop="sales.member.name"></ngx-datatable-column>    
        <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="250" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="btn-group mr-4" role="group">
            <button class="btn btn-sm  text-black mr-2" (click)="edit(row.id)" >
              {{ '::Edit' | abpLocalization }}
            </button>
          </div>
          <div ngbDropdown container="body" class="btn btn-sm border-0 bg-transparent ">
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" ngbDropdownToggle>
                    <i class="fa fa-cog me-1"></i>{{ '::moreActions' | abpLocalization }}
                </button>
                <div ngbDropdownMenu>
                    <button  ngbDropdownItem (click)="setdefault(row.id)" >
                        {{ '::setdefault' | abpLocalization }}
                    </button>
                    <button  ngbDropdownItem (click)="delete(row.id)">
                        {{ '::delete' | abpLocalization }}
                    </button>
                   
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  
  <abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
        <h3>{{ (selectedWholeSales && selectedWholeSales.id ? '::editWholeSales' : '::newWholeSales' ) | abpLocalization }}</h3>
    </ng-template>
  
    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="mt-2">
                  <label>{{ '::product' | abpLocalization }}</label><span> * </span>
                  <select class="form-control" id="product"  (change)="onProductChanged($event.target.value)">
                     <option [value]="p.id" *ngFor="let p of Products.items"              
                        [selected]="p.id === this.selectedWholeSales?.sales?.product?.id"> 
                       {{ p.name}}
                       </option>            
                    
                  </select>
             
            </div>
            <div class="mt-2">
              <label for="price">{{ '::price' | abpLocalization }}</label><span> * </span>
              <input type="text" id="price" class="form-control" formControlName="price" autofocus />
             </div>
              <div class="mt-2">
                  <label for="quanity">{{ '::quantity' | abpLocalization }}</label><span> * </span>
                  <input type="text" id="quanity" class="form-control" formControlName="quantity" autofocus />
              </div>
              <div class="mt-2">
                <label for="discount">{{ '::discount' | abpLocalization }}</label><span> * </span>
                <input type="text" id="discount" class="form-control" formControlName="discount" autofocus />
            </div>
              <div class="mt-2">
                <label for="amount">{{ '::amount' | abpLocalization }}</label><span> * </span>
                <input type="text" id="amount" class="form-control" formControlName="amount" autofocus disabled/>
            </div>
            <div class="mt-2">
              <label for="deliverymethod">{{ '::deliverymethod' | abpLocalization }}</label><span> * </span>
              <input type="text" id="deliverymethod" class="form-control" formControlName="deliveryMethod" autofocus disabled/>
          </div>
          <div class="mt-2">
            <label for="deliveryaddress">{{ '::deliveryaddress' | abpLocalization }}</label><span> * </span>
            <input type="text" id="deliveryaddress" class="form-control" formControlName="deliveryAddress" autofocus disabled/>
          </div>
          <div class="mt-2">
              <label>{{ '::paymentmethod' | abpLocalization }}</label><span> * </span>
              <select class="form-control" id="paymentmethod"  (change)="onPaymentMethodChanged($event.target.value)">
                   <option [value]="p.id" *ngFor="let p of PaymentMethods.items"              
                    [selected]="p.id === this.selectedWholeSales?.sales?.paymentMethod?.id"> 
                   {{ p.name}}
                  </option>            
              </select>
            </div>        
          <div class="mt-2">
              <label>{{ '::member' | abpLocalization }}</label><span> * </span>
              <select class="form-control" id="member" (change)="onMemberChanged($event.target.value)">
                <option [value]="p.id" *ngFor="let p of Members.items"              
                    [selected]="p.id === this.selectedWholeSales?.sales?.member?.id"> 
                   {{ p.name}}
                </option>            
              </select>
            </div>        
        </form>
    </ng-template>
  
    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
            {{ '::Close' | abpLocalization }}
        </button>
  
        <!--added save button-->
        <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
            <i class="fa fa-check mr-1"></i>
            {{ '::Save' | abpLocalization }}
        </button>
    </ng-template>
  
  </abp-modal>