<div class="card">
  <div class="card-body">
    <div class="row align-items-center"> 
      <div class="col-6"> 
        <h5 class="card-title">
          {{ '::Menu:stores' | abpLocalization }}
        </h5>
      </div>
      <div id="2div" class="col-6 d-flex justify-content-end"> 
        
        <!-- *abpPermission="'StoreManagement.Creation'"  -->
        <button 
        id="create" class="btn btn-primary" type="button" (click)="createStore()">
          <i class="fa fa-plus me-1"></i>
          <span>{{ '::newstore' | abpLocalization }}</span>
        </button>
      </div>
    </div>
    <div class="container border p-3">
      <div class="row align-items-center">
        <div class="col-md-1">
          <label> {{ '::creationDate' | abpLocalization }}</label>
        </div>
        <!-- <div class="col-md-2">
          <input [(ngModel)] ="queryDto.creationDate" #datepicker="ngbDatepicker" class="form-control" id="creationstart" 
              ngbDatepicker (click)="datepicker.toggle()" placeholder="请输入日期"/> 
        </div> -->
        <div class="col-md-4">
          <datepicker-range-popup [(fromdate)]="queryDto.creationDateFrom" [(todate)]="queryDto.creationDateTo" (dateRangeChanged) = onDateRangeChanged($event)></datepicker-range-popup>
        </div>
        <div class="col-md-1">
          <label>{{ '::storename' | abpLocalization }}</label>
        </div>
        <div class="col-md-2">
          <input [(ngModel)] ="queryDto.name"  type="text" class="form-control" placeholder="请输入商户号">
        </div>
        <div class="col-md-1">
          <label>{{ '::storeid' | abpLocalization }}</label>
        </div>
        <div class="col-md-2">
          <input [(ngModel)] ="queryDto.id" type="text" class="form-control" placeholder="请输入门店编码">
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary btn-sm mr-2" (click)="Query()">{{ '::find' | abpLocalization }}</button> &nbsp;
          <button class="btn btn-secondary btn-sm" (click)="ResetQuery()">{{ '::reset' | abpLocalization }}</button>
        </div>
        
      </div>
    </div>
       
</div>
  <div class="card-body">
    <ngx-datatable [rows]="stores.items" [count]="stores.totalCount" [list]="list" default>
      <!-- <ngx-datatable-column [name]="'::storeid' | abpLocalization" prop="id"></ngx-datatable-column> -->
      <ngx-datatable-column [name]="'::storename' | abpLocalization" prop="name">    </ngx-datatable-column>
      <ngx-datatable-column [name]="'::storefullname' | abpLocalization" prop="fullName">  </ngx-datatable-column>
      <ngx-datatable-column [name]="'::address' | abpLocalization" prop="address">  </ngx-datatable-column>
      <ngx-datatable-column [name]="'::phone' | abpLocalization" prop="phone">  </ngx-datatable-column>
      <ngx-datatable-column [name]="'::storestatus' | abpLocalization" prop="status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ '::Enum:StoreStatus.' + row.status | abpLocalization }}
        </ng-template>
      </ngx-datatable-column>
    <ngx-datatable-column [name]="'::creationTime' | abpLocalization" prop="creationTime">  </ngx-datatable-column>
    <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="250" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="btn-group mr-4" role="group">
          <button class="btn btn-sm  text-black mr-2" (click)="editStore(row.id)" *abpPermission="'StoreManagement.Edit'">
            {{ '::Edit' | abpLocalization }}
          </button>
          <button class="btn btn-sm  text-black" (click)="suspendStore(row.id)" *abpPermission="'StoreManagement.Edit'">
            {{ '::storesuspend' | abpLocalization }}
          </button>
        </div>
          <div ngbDropdown container="body" class="btn btn-sm border-0 bg-transparent ">
              <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" ngbDropdownToggle>
                  <i class="fa fa-cog me-1"></i>{{ '::moreActions' | abpLocalization }}
              </button>
              <div ngbDropdownMenu>
                  <button  ngbDropdownItem (click)="editStore(row.id)" *abpPermission="'StoreManagement.Edit'">
                      {{ '::paymentconfig' | abpLocalization }}
                  </button>
                  <button  ngbDropdownItem (click)="deleteStore(row.id)">
                      {{ '::staffmanage' | abpLocalization }}
                  </button>
                  <button  ngbDropdownItem (click)="deleteStore(row.id)" *abpPermission="'StoreManagement.Edit'">
                    {{ '::passwordreset' | abpLocalization }}
                </button>
              </div>
          </div>
      </ng-template>
  </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
      <h3>{{ (selectedStore && selectedStore.id ? '::editstore' : '::newstore' ) | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
      <form [formGroup]="form" (ngSubmit)="save()">
          <div class="mt-2">
              <label for="storename">{{ '::storename' | abpLocalization }}</label><span> * </span>
              <input type="text" id="name" class="form-control" formControlName="name" autofocus />
          </div>

          <div class="mt-2">
              <label for="storefullname">{{ '::storefullname' | abpLocalization }}</label><span> * </span>
              <input type="text" id="fullname" class="form-control" formControlName="fullname" />
          </div>

          <div class="mt-2">
            <label for="address">{{ '::address' | abpLocalization }}</label><span> * </span>
            <input type="text" id="address" class="form-control" formControlName="address" />
        </div>

        <div class="mt-2">
          <label for="fullname">{{ '::phone' | abpLocalization }}</label><span> * </span>
          <input type="text" id="phone" class="form-control" formControlName="phone" />
        </div>

          <div class="mt-2">
              <label>{{ '::storestatus' | abpLocalization }}</label><span> * </span>
              <select class="form-control" id="status"  (change)="onselectionChanged($event.target.value)">
          
                  <option [ngValue]="type.value" *ngFor="let type of StatusTypes"              
                    [selected]="type.value === this.selectedStore.status"
                   > 
                      {{ '::Enum:StoreStatus.' + type.value | abpLocalization }}
                   
                  </option>            
                
              </select>
          </div>

        
      </form>
  </ng-template>

  <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" abpClose>
          {{ '::Close' | abpLocalization }}
      </button>

      <!--added save button-->
      <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
          <i class="fa fa-check mr-1"></i>
          {{ '::Save' | abpLocalization }}
      </button>
  </ng-template>

</abp-modal>


